<div class="main-content">
    <app-header-profile></app-header-profile>
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
        style="min-height: 675px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center -100px;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-7"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-8">
                    <h1 class="display-2 text-white halimun-font">Hey! I am Chandru.</h1>
                    <p class="text-white mt-0 mb-5">I’m a front-end web developer with almost a decade of experience. I
                        work with companies across the globe to create high performance & rich interactive websites that
                        work across all platforms & devices.
                        Although I'm very familiar with using frameworks, my websites are primarily hand-coded using
                        HTML5, CSS3, SVG, JavaScript, Angular, IONIC.
                        With a strong emphasis on "Progressive Enhancement", I look for creative ways to push the
                        boundaries of website front-end code without compromising on browser support and performance.
                    </p>

                    <a class="btn btn-icon btn-block-small-only mt-2-small-only btn-outline-primary mr-4" href="assets/resume/Resume-Chandran-Lakshmanan.pdf"
                        target="_blank">
                        <span class="btn-inner--icon"><i class="fa fa-download" aria-hidden="true"></i></span>
                        <span class="btn-inner--text">Resume</span>
                    </a>

                    <a class="btn btn-icon btn-block-small-only mt-2-small-only btn-outline-danger mr-4" routerLink="/covid19">
                        <span class="btn-inner--icon"><i class="fa fa-bug" aria-hidden="true"></i></span>
                        <span class="btn-inner--text">COVID-19</span>
                    </a>

                    <a class="btn btn-icon btn-block-small-only mt-2-small-only btn-outline-danger" routerLink="../covid19/covid19-india">
                        <span class="btn-inner--icon"><i class="fa fa-bug" aria-hidden="true"></i></span>
                        <span class="btn-inner--text">COVID-19 India</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--5">
        <div class="row">
            <div class="col-xl-12 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="assets/img/theme/avatar.jpg" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <!-- <div class="d-flex justify-content-between">
                            <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                        </div> -->
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    <ul class="my-1 navbar-nav flex-row ct-navbar-nav align-items-center">
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-icon"
                                                href="https://www.linkedin.com/in/chandran-lakshmanan-604028b3"
                                                target="_blank">
                                                <i class="fab fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-icon"
                                                href="https://www.facebook.com/BrokenHeartChandru" target="_blank">
                                                <i class="fab fa-facebook-square"></i>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link nav-link-icon"
                                                href="https://www.instagram.com/chandrul3090/" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-icon" href="https://github.com/Chandru3090"
                                                target="_blank">
                                                <i class="fab fa-github"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-icon"
                                                href="https://www.youtube.com/channel/UCZNqZUScFaaURtlUmn-JK2Q"
                                                target="_blank">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3>
                                Chandru Lakshmanan<span class="font-weight-light">, 29</span>
                            </h3>
                            <div class="h5 font-weight-300">
                                <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Bangalore, India
                            </div>
                            <div class="h5 font-weight-300">
                                <i class="fa fa-envelope mr-2" aria-hidden="true"></i>l.chandran3090@gmail.com
                            </div>
                            <div class="h5 font-weight-300">
                                <i class="fa fa-phone mr-2" aria-hidden="true"></i>+91 9787032240
                            </div>
                            <div class="h5 mt-4">
                                <i class="fa fa-briefcase mr-2" aria-hidden="true"></i>Senior Techinical Lead - HCL Technologies
                            </div>
                            <div>
                                <i class="fa fa-graduation-cap mr-2" aria-hidden="true"></i>Computer Science
                            </div>
                            <hr class="my-4" />
                            <blockquote class="blockquote text-center">
                                <p class="mb-1">“Do What you Love, Love What you Do.”</p>
                                <p class="mb-0">“Ever Positive, Never Negative.”</p>
                                <footer class="blockquote-footer halimun-font">Chandru</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>