<div class="main-content">
    <app-header-dashboard [title]="'COVID 19 India'"></app-header-dashboard>
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
        style="min-height: 500px; background-image: url(../assets/img/theme/map-cover.png); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-7"></span>
        <div class="container-fluid">
            <div class="header-body" *ngIf="covi19IndiaData?.total">
                <!-- Card stats -->
                <h3 class="text-white mb-5" style="opacity: 0.9;">Coronavirus monitor Overview of India</h3>
                <div class="row mb-5">
                    <div class="col-xl-3 col-lg-3">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Coronavirus Cases</h5>
                                        <span
                                            class="h2 font-weight-bold mb-0">{{ stringToNumber(covi19IndiaData?.total?.confirmed) | number }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-globe"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2"><i class="fa fa-arrow-up"></i>
                                        {{stringToNumber(covi19IndiaData?.total?.deltaconfirmed) | number}}
                                        <span class="text-nowrap">New Cases Today</span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Deaths</h5>
                                        <span
                                            class="h2 font-weight-bold mb-0">{{ stringToNumber(covi19IndiaData?.total?.deaths) | number }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-globe"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2"><i class="fa fa-arrow-up"></i>
                                        {{stringToNumber(covi19IndiaData?.total?.deltadeaths) | number}}
                                        <span class="text-nowrap">New Deaths Today</span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Recovered</h5>
                                        <span
                                            class="h2 font-weight-bold mb-0">{{stringToNumber(covi19IndiaData?.total?.recovered) | number}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                            <i class="fas fa-globe"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>
                                        {{ stringToNumber(covi19IndiaData?.total?.deltarecovered) | number}}
                                        <span class="text-nowrap">New Recovered cases Today</span></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Active Cases</h5>
                                        <span
                                            class="h2 font-weight-bold mb-0">{{ stringToNumber(covi19IndiaData?.total?.deltarecovered) | number }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-globe"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <!-- <span class="text-danger mr-2"><i class="fa fa-arrow-up"></i></span> -->
                                    <span class="text-nowrap">Statistic taken at
                                        {{today | date:'mediumDate'}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-white" style="opacity: 0.9;"><small><em>* This Data provides realtime information about
                            the coronavirus situation. We
                            monitor worldometer,
                            <span class="initialism"><a class="text-white" style="text-decoration: underline;"
                                    href="https://rapidapi.com/user/spamakashrajtech" target="_blank">Akash</a></span>
                            grab the most relevant
                            information for
                            you periodically. Some
                            endpoints gets information every minute.</em></small>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid mt--7">
        <!-- <div class="row">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card bg-gradient-default shadow">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                                <h2 class="text-white mb-0">Sales value</h2>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                            [chartType]="lineChartType" [plugins]="lineChartPlugins">
                        </canvas>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row mt-5">
            <div class="col-xl-12 mb-5 mb-xl-0">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Confirmed cases and Deaths in India, State wise</h3>
                            </div>
                            <div class="col text-right">
                                <div class="form-group">
                                    <input type="text" id="input-search" [(ngModel)]="search" name="search"
                                        class="form-control form-control-alternative" placeholder="Search by Country">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Total cases</th>
                                    <th scope="col">Active Cases</th>
                                    <th scope="col">Recovered</th>
                                    <!-- <th scope="col">Active Cases</th>
                                    <th scope="col">Critical</th>
                                    <th scope="col">New Deaths</th> -->
                                    <th scope="col">Deaths</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="covi19IndiaData?.states?.length > 0">
                                <tr (click)="isExpand = !isExpand"
                                    *ngFor="let data of covi19IndiaData?.states | searchfilter: 'state' : search; let i = index;">
                                    <th>{{i+1}}</th>
                                    <th scope="row">
                                        <a href="javascript:void(0);" (click)="navigateStateWise(data)">{{data?.state}}</a>
                                    </th>
                                    <td>
                                        <b>{{stringToNumber(data?.confirmed) | number}}
                                            <span class="text-danger ml-2"
                                                *ngIf="stringToNumber(data?.deltaconfirmed) > 0">
                                                <i class="fa fa-arrow-up"></i>
                                                {{stringToNumber(data?.deltaconfirmed) | number}}
                                            </span>
                                        </b>
                                    </td>
                                    <td><b>{{stringToNumber(data?.active) | number}}</b>
                                    </td>
                                    <td>
                                        <b>{{stringToNumber(data?.recovered) | number}}
                                            <span class="text-success ml-2"
                                                *ngIf="stringToNumber(data?.deltarecovered) > 0">
                                                <i class="fa fa-arrow-up"></i>
                                                {{stringToNumber(data?.deltarecovered) | number}}
                                            </span>
                                        </b>
                                    </td>
                                    <td>
                                        <b>{{stringToNumber(data?.deaths) | number}}
                                            <span class="text-danger ml-2"
                                                *ngIf="stringToNumber(data?.deltadeaths) > 0">
                                                <i class="fa fa-arrow-up"></i>
                                                {{stringToNumber(data?.deltadeaths) | number}}
                                            </span>
                                        </b>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="covi19IndiaData?.states?.length == 0">
                                <tr class="text-center">
                                    <td colspan="6"><b>No Records</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #district let-districts='districts'>
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">District</th>
                        <th scope="col">Total cases</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of districts; let i=index;">
                        <th>{{i+1}}</th>
                        <th>{{data?.name}}</th>
                        <th>{{data?.confirmed | number}}</th>
                    </tr>
                </tbody>
            </table>
        </ng-template>
        <!-- Footer -->
        <app-footer></app-footer>
    </div>
</div>